$primary-color: #272727;
$secondary-color: #ff652f;

/*  | RESETS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

// give a proper color to text
// if primary-color is dark than set white color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
